body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
}

main {
  display: block;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.4);
  transition: transform 250ms ease-out;
}

code {
  font-family: 'Roboto Mono', monospace;
}

header ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: -1rem;
}

header ul li {
  margin: 1rem;
  flex: 1 0 10rem;
}

header ul li a {
  width: 100%;
}

header ul li:last-child {
  white-space: nowrap;
  display: flex;
  margin-bottom: 0;
  margin-top: 0;
}

header ul li:last-child a {
  width: auto;
  margin-left: auto;
}

header, section, .fullscreen {
  padding: 2rem;
}

section, .fullscreen {
  padding-top: 11rem;
}

.smooth-scroll {
  scroll-behavior: smooth;
  /* Additionally specified in custom font-family so polyfill can parse it */
  font-family: 'scroll-behavior:smooth';
}

.fullscreen h1 {
  margin-top: 7rem;
}

.scroll-btn {
  margin-top: 7rem;
}

@media screen and (min-height: 660px) {
  .fullscreen h1 {
    margin-top: 12rem;
  }
  .scroll-btn {
    margin-top: 12rem;
  }
}

@media screen and (min-height: 900px) {
  .fullscreen h1 {
    margin-top: 24rem;
  }
  .scroll-btn {
    margin-top: 24rem;
  }
}

html:not(.smooth-scroll) .scroll-btn {
  font-weight: lighter;
}

.max-width {
  max-width: 100%;
}

.fullscreen {
  height: 100vh;
  text-align: center;
}

.fullscreen {
  position: relative;
}

html:not(.flex-center) .fullscreen>div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-center .fullscreen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullscreen p {
  width: 100%;
}

.button {
  margin-bottom: 0;
}

#start {
  background: #faf7fc;
}

#usage {
  background: #f6effa;
}

#docs {
  background: #f1e7f7;
}

#legal, footer>div {
  background: #eddff5;
}

section:first-of-type {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.german {
  display: none;
}

#language:checked+.german {
  display: block;
}

#language:checked+.german+.english {
  display: none;
}

footer>div.row {
  flex-direction: column;
  width: auto;
  margin-left: 0;
  background: #9a4eca;
  color: #fff;
}

footer>div.row p {
  margin: 1.5rem 0;
}

@media screen and (max-width: 340px) {
  /* Tighter grid in header on very small devices */
  header ul {
    margin: -0.5rem;
  }
  header ul li {
    margin: 0.5rem;
  }
}

@media screen and (max-width: 793px) {
  h1 {
    font-size: 3rem;
  }
  .hide-header header {
    transform: translateY(-101%);
  }
}

@media screen and (min-width: 794px) {
  p {
    max-width: 85%;
  }
}

h1[id], h2[id], h3[id], h4[id], h1[data-to], h2[data-to], h3[data-to], h4[data-to] {
  position: relative;
  transition: padding 200ms ease-out;
  cursor: pointer;
}

h1[id]::before, h2[id]::before, h3[id]::before, h4[id]::before, h1[data-to]::before, h2[data-to]::before, h3[data-to]::before, h4[data-to]::before {
  content: "#";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

h1[id]:hover, h2[id]:hover, h3[id]:hover, h4[id]:hover, h1[data-to]:hover, h2[data-to]:hover, h3[data-to]:hover, h4[data-to]:hover {
  padding-left: 2rem;
}

h1[id]:hover::before, h2[id]:hover::before, h3[id]:hover::before, h4[id]:hover::before, h1[data-to]:hover::before, h2[data-to]:hover::before, h3[data-to]:hover::before, h4[data-to]:hover::before {
  opacity: 0.5;
}

.allow-overflow {
  overflow: auto;
}